<div class="container mt-4">
    <h2>Makale Oluştur</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="title" class="form-label">Başlık:</label>
        <input type="text" id="title" [(ngModel)]="article.title" name="title" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">İçerik:</label>
        <textarea id="content" [(ngModel)]="article.content" name="content" class="form-control" required></textarea>
      </div>
      <div class="mb-3">
        <label for="imageFile" class="form-label">Resim Yükle:</label>
        <input type="file" id="imageFile" (change)="onFileSelected($event)" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Makale Oluştur</button>
    </form>
  </div>
  