<ul>
  <a routerLink="/about-us">
    <img src="assets/img/kodev.jpg" alt="SilkRoad Logo" style="height: 75px;">
  </a>
  <li><a routerLink="/about-us" routerLinkActive="active">Ana Sayfa</a></li>
  <li><a routerLink="/projects" routerLinkActive="active">Projeler</a></li>
  <li><a routerLink="/articles" routerLinkActive="active">Makaleler</a></li>
  <li><a routerLink="/contact" routerLinkActive="active">İletişim</a></li>
</ul>

  <router-outlet></router-outlet> 


<footer class="footer mt-auto py-3">  
  <div class="container text-center">
    <span class="text-muted">©2024 Kodev</span>
  </div>
</footer>