// Genel ayarlar
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  // Card ayarları
  .card {
    border: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    background-color: #a38484;
    width: 70%;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  // Accordion ayarları
  .accordion-button {
    background-color: #c1d2e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem;
    transition: background-color 0.3s ease;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #eca35e;
  }
  
  .accordion-button:hover {
    background-color: #eca35e;
  }
  
  .accordion-flush .accordion-collapse {
    border-top: 1px solid #e9ecef;
  }
  
  .accordion-item {
    border: none;
    margin-bottom: 1rem;
  }
  
  .accordion-body {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-top: none;
    padding: 1.5rem;
    border-radius: 0 0 5px 5px;
  }
  
  // Additional styles for the hero section
  .hero {
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f9;
  }
  
  .hero h1 {
    margin-bottom: 1rem;
  }
  
  .hero p {
    margin-bottom: 2rem;
  }
  
  .hero button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero button:hover {
    background-color: #0056b3;
  }

  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    background-color: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .row {
    margin-top: 2rem;
  }
  
  .col-lg-6 {
    display: flex;
    justify-content: center;
  }
  
  .img-fluid {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  /* Genel buton stili */
button {
  padding: 5px 10px; /* Buton boyutlarını küçültme */
  font-size: 12px; /* Font boyutunu küçültme */
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  color: white;
}

/* Sil butonu */
button.delete-button {
  background-color: #dc3545; /* Kırmızı renk */
  border: none;
  color: white;
}

button.delete-button:hover {
  background-color: #c82333; /* Koyu kırmızı renk hover efekti */
}

/* Güncelle butonu */
button.update-button {
  background-color: #fd7e14; /* Turuncu renk */
  border: none;
  color: white;
}

button.update-button:hover {
  background-color: #e65100; /* Koyu turuncu renk hover efekti */
}

/* Detay butonu */
button.detail-button {
  background-color: #28a745; /* Yeşil renk */
}

button.detail-button:hover {
  background-color: #218838; /* Koyu yeşil renk hover efekti */
}

button {
  padding: 5px 10px; /* Buton boyutlarını küçültme */
  font-size: 12px; /* Font boyutunu küçültme */
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  color: white;
}

button.create-button{
  background-color: #005fee;
}